html
  head
    title= appName

  body
    h1 Agregar Libro

    form(method="POST" action="")
      input(name="name" placeholder="Nombre del libro")
      input(name="authorName" placeholder="Nombre del autor")
      input(type="submit" value="Enviar")